:root {
    --x-10: rgba(91, 91, 91, 1);
    --white: rgba(255, 255, 255, 1);
    --off-white: rgba(245, 245, 245, 1);
    --dark-gray: rgba(33, 33, 33, 1);
    --soft-green: rgba(165, 214, 167, 1);
    --bright-yellow: rgba(255, 235, 59, 1);
    --charcoal: rgba(51, 51, 51, 1);
    --light-gray: rgba(245, 245, 245, 1);
    --text-dark-gray: rgba(224, 224, 224, 1);
    --deep-green: rgba(56, 142, 60, 1);
    --lavendar: rgba(225, 190, 231, 1);
    --blue: rgba(33, 150, 243, 1);
    --10-font-family: "Open Sans", Helvetica;
    --10-font-weight: 400;
    --10-font-size: 15px;
    --10-letter-spacing: 0px;
    --10-line-height: normal;
    --10-font-style: normal;
    --h3-font-family: "Montserrat", Helvetica;
    --h3-font-weight: 400;
    --h3-font-size: 24px;
    --h3-letter-spacing: 0px;
    --h3-line-height: normal;
    --h3-font-style: normal;
    --h2-font-family: "Montserrat", Helvetica;
    --h2-font-weight: 400;
    --h2-font-size: 30px;
    --h2-letter-spacing: 0px;
    --h2-line-height: normal;
    --h2-font-style: normal;
    --h1-font-family: "Montserrat", Helvetica;
    --h1-font-weight: 400;
    --h1-font-size: 36px;
    --h1-letter-spacing: 0px;
    --h1-line-height: normal;
    --h1-font-style: normal;
    --h1-BOLD-font-family: "Montserrat", Helvetica;
    --h1-BOLD-font-weight: 700;
    --h1-BOLD-font-size: 36px;
    --h1-BOLD-letter-spacing: 0px;
    --h1-BOLD-line-height: normal;
    --h1-BOLD-font-style: normal;
    --h2-BOLD-font-family: "Montserrat", Helvetica;
    --h2-BOLD-font-weight: 700;
    --h2-BOLD-font-size: 30px;
    --h2-BOLD-letter-spacing: 0px;
    --h2-BOLD-line-height: normal;
    --h2-BOLD-font-style: normal;
    --h3-BOLD-font-family: "Montserrat", Helvetica;
    --h3-BOLD-font-weight: 700;
    --h3-BOLD-font-size: 24px;
    --h3-BOLD-letter-spacing: 0px;
    --h3-BOLD-line-height: normal;
    --h3-BOLD-font-style: normal;
    --paragraph-font-family: "Montserrat", Helvetica;
    --paragraph-font-weight: 400;
    --paragraph-font-size: 16px;
    --paragraph-letter-spacing: 0px;
    --paragraph-line-height: normal;
    --paragraph-font-style: normal;
    --menu-linka-font-family: "Open Sans", Helvetica;
    --menu-linka-font-weight: 400;
    --menu-linka-font-size: 15px;
    --menu-linka-letter-spacing: 0px;
    --menu-linka-line-height: normal;
    --menu-linka-font-style: normal;
    --POPIN-h1-font-family: "Poppins", Helvetica;
    --POPIN-h1-font-weight: 700;
    --POPIN-h1-font-size: 44px;
    --POPIN-h1-letter-spacing: 0px;
    --POPIN-h1-line-height: normal;
    --POPIN-h1-font-style: normal;
    --p-font-family: "Open Sans", Helvetica;
    --p-font-weight: 400;
    --p-font-size: 18px;
    --p-letter-spacing: 0px;
    --p-line-height: normal;
    --p-font-style: normal;
    --headings-48-font-family: "Montserrat", Helvetica;
    --headings-48-font-weight: 700;
    --headings-48-font-size: 170px;
    --headings-48-letter-spacing: 0px;
    --headings-48-line-height: normal;
    --headings-48-font-style: normal;
  }
  